body {
  font-family: 'DM Sans', sans-serif;
}


#reactgooglegraph-1 {
  width: 100%; /* A largura será 100% do contêiner pai */
  aspect-ratio: 3 / 2; /* Substitua 3/2 pela proporção desejada (largura/altura) */
  max-width: 550px; /* Opcional: limite máximo de largura para telas maiores */
}

#reactgooglegraph-2 {
  width: 100%; /* A largura será 100% do contêiner pai */
  aspect-ratio: 3 / 2; /* Substitua 3/2 pela proporção desejada (largura/altura) */
  max-width: 550px; /* Opcional: limite máximo de largura para telas maiores */
}


#grafchart {
  width:50%;
  height: 400px;
  align-items: center;
  
}

#mido{
  align-items: end;
}
#Card {width: 40%;
  margin: 4%;
}

#barraColorida {
  background-color: rgb(0, 52, 136);
  color: rgb(0, 52, 136);
}

#linksDaBarra {
  text-decoration: none;
  color: rgb(0, 52, 136);
  background-color: rgb(249, 251, 255);
  border-radius: 7px;
}

#valores {
  margin-top: -50%;
  border-top: -50%;
  padding-top: -50%;
}

#subtitulo {
  background-color: rgb(239, 254, 254);
}

#imagemDeLogin {
  margin-left: 30%;
}

#item-1 {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 2%;
  margin-left: -10%
}

#corrPrincipal {
  text-decoration: none;
  color: rgb(0, 35, 91);

}

#corPrincipal {
  color: rgb(0, 35, 91);

}

#corPrincipal:hover {
  color: rgb(2, 61, 156);
  ;

}

@media screen and (min-width: 800px) {
  #form {

    padding-left: 30%;
    padding-right: 30%;
  }
}

.Inputs {
  border-radius: 0;
}

#bar {
  color: rgb(244, 240, 240);
  margin-top: -3%
}

#bar-2 {
  color: aqua;

}

#entrar {
  border-radius: 0;
  margin-inline: 26%;
  margin-top: 10%;

  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 17%;
  padding-right: 17%;
  background-color: rgb(0, 35, 91);
  ;

}

#entrar:hover {
  background-color: rgb(2, 61, 156);
  ;

}

#criar {
  margin-left: 1%;
  margin-bottom: 10%;

}

#criar-2 {
  margin-left: 27%;

}

#criar-3 {
  color: rgb(187, 188, 188);
  margin-left: 34%;

}

#criarI {
  color: red;
}

#title {
  margin-top: -1%;

}

#Cards {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 35, 91);
  margin: 0.5%;
}

#Cards:hover {
  background-color: rgb(0, 52, 136);
  margin-left: 10px;
  transition: 100ms;

}

#chardssub {
  margin-left: 0.5%;
  margin-top: 1%;
  margin-right: 11%;


}

#chardssus {
  margin-left: 0.5%;
  margin-top: 1%;

}

#chardss {
  margin-left: 1%;
  margin-top: 1%;

}

#titulo {

  color: rgb(0, 52, 136);
}

#editeedele {

  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 52, 136);
  border-color: rgb(255, 255, 255, 0);

}

#editeedele:hover {

  background-color: rgb(176, 250, 255, 0.565);
  border-color: rgb(158, 213, 248);
  color: rgb(0, 52, 136);
  border-radius: 5px;
}

#editeedelet {

  background-color: rgb(255, 255, 255, 0);
  color: rgb(0, 52, 136);
  border-color: rgb(255, 255, 255, 0);
  border-radius: 5px;
}

#editeedelet:hover {

  background-color: rgba(255, 0, 0, 0.565);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color: rgb(255, 255, 255);

}

#tradu {
  color: rgb(0, 52, 136);

}


#bemvindo {
  color: rgb(0, 52, 136);
  margin-left: 12%;
  margin-right: -4%;

}

#botocria {
  color: rgb(0, 52, 136);
  margin-left: 89.4%;

}

#barra {
  margin-top: 2%;
  margin-right: -12%;
  margin-left: -12%;
  border-bottom: 10px;
  border-color: red;
}

@media screen and (min-width: 400px) {
  #barra {
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
  }
}

#tituloT {
  margin-left: -4%;
  color: rgb(0, 52, 136);
  
}

#tituloTL {
  margin-left: -40%;
  color: rgb(0, 52, 136);
 
}

li {
  list-style-type: none;
}

#barrastilo {
  padding-left: 153%;
  background-color: rgb(183, 211, 255);
  margin-left: -28%;

}

#barrastilo2 {
  padding-left: 170%;
  background-color: rgb(62, 45, 223);
  margin-left: -30%;
  margin-top: 1%;
}

#cardgestors {
  color: rgb(255, 255, 255);
  margin-bottom: -4px;
  margin-left: 15px;
  
}

#Cardsgestors {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 35, 91);
  margin: 0.2%;
  margin-right: -11.5%;
  margin-left: 1%;
 
}

#q_g {
  font-size: 25px;
  color: rgb(249, 249, 249);
  padding: 1%;
  background-color: rgb(62, 45, 223);
  border-radius: 10px;
  margin: 1%;
}

#q_e {
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding: 1%;
  background-color: rgb(62, 45, 223);
  border-radius: 10px;
}

#q_g:hover {

  color: rgb(249, 249, 249);
  padding: 1%;
  background-color: rgb(51, 28, 250);
  border-radius: 10px;
}

#q_e:hover {

  color: rgb(255, 255, 255);
  padding: 1%;
  background-color: rgb(51, 28, 250);
  border-radius: 2px;
}

#imagen {
  border-radius: 2px;
}

#Cardsgestorstp {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 35, 91);
  margin: -0.5%;
  border-radius: 10px;
  padding: 0.5%;

}

#nomeGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);

}

#sobrenomeGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#idadeGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#generoGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#dataDeNascimentoGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#localDeTrabalhoGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#CRMGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#tipoDeContratoGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#formacaoGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#senhaProvisoriaGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#metasGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#atendimentosGestor {
  background-color: rgb(208, 249, 255, 1);
  border-radius: 1;
  border-color: rgb(255, 255, 255);
}

#adicionar {
  border-radius: 0;
  margin-left: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(0, 35, 91);
  border-color: rgb(227, 227, 227);
  border: rgb(0, 35, 91);

}

#voltar {
  border-radius: 0;
  margin-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(223, 223, 223);
  border-color: rgb(227, 227, 227);
  border: rgb(0, 35, 91);
}

#voltart {
  color: rgb(0, 0, 0);
  text-decoration: none;

}

#ta {

  padding: -10%;
  margin-left: -10%;

}

#modalbody {
  margin-left: 20%;
  margin-top: -2.3%;
}

#aaa {
  color: rgb(0, 35, 91);
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 60%;
  background-color: rgb(0, 35, 91);
  border-radius: 1px;
}

#cadastros {
  color: rgb(0, 35, 91);
  margin-left: 40%;
  padding: 1%;

}

#barrainicio {

  margin-left: 40%;
  color: rgb(0, 35, 91);
  text-decoration: none;

}

#barragestores {
  color: rgb(0, 35, 91);
  text-decoration: none;

}

#barraeventos {
  color: rgb(0, 35, 91);
  text-decoration: none;

}

#dropboto {
  background-color: rgb(0, 35, 91);
}

#tituloto {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 35, 91);
  text-decoration: none;

}

#chart {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0);
  background-color: aliceblue;
  background-color: rgb(0, 35, 91);
  text-decoration: none;
  border: 2px solid #ffffff;
}

#chartt {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0);
  background-color: aliceblue;
  background-color: rgb(0, 35, 91);
  padding: 12px;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-color: rgb(0, 35, 91);
  border-radius: 7px;

}

#charttA {

  box-shadow: 0 4px 8px rgba(255, 255, 255, 0);
  background-color: aliceblue;
  background-color: rgb(0, 35, 91);
  padding: 8px;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-color: rgb(0, 35, 91);

}



#tituloTT {
  margin-left: -15%;
  text-decoration: none;

}

#seletor {
  padding: 1%;
  text-decoration: none;
}

#menumais {
  background-color: rgb(0, 72, 187);
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: none;
  text-decoration: none;
  align-items: center;
  
}


#pizza {
  margin-left: 1%;
  margin-top: -1%;
}

#pizza2 {
  margin-left: 1%;

}

#letra {
  color: white
}

#inpsharch {
  margin: 1%;
  background-color: rgb(185, 212, 255);
  border-radius: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px;
  width: 500px;

}



#botaodocard {
 
  background-color: rgb(255, 255, 255);
  color: rgb(0, 52, 136);
  border-radius: 0;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  opacity: 50%;
}

#botaodocard:hover {
  
  background-color: rgb(0, 52, 136);
  border-color: rgb(0, 52, 136);
  ;
  color: rgb(254, 254, 254);
  border-radius: 0;
  border-radius: 5px;
  opacity: 100%;
}

#botaodocarde {
  
  background-color: rgb(255, 255, 255);
  color: rgb(0, 52, 136);
  border-radius: 0;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  opacity: 50%;
}

#botaodocarde:hover {
  
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
  opacity: 100%;
}

#password {
  border-radius: 0;
}

#email {
  border-radius: 0;
}

.eventos-container {
  display: flex;
  justify-content: space-between;
  /* ou qualquer outra propriedade de alinhamento desejada */
}

.eventos-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap
  /* Permite que os eventos quebrem para a próxima linha se não houver espaço suficiente na largura da tela muito util */
}

.card {
  margin: 0.1%
}

/* navbar */

#NavBar {
  background-color: rgb(255, 255, 255);
}

#retangulo {
  color: rgb(0, 52, 136);
  background-color: rgb(0, 52, 136);
}

.navbar.navbar--fixed-top {
  position: sticky;
}